{
  "url": "{{ kibana_url }}",
  "tarball": "{{ kibana_tarball }}",
  "tarball_checksum": "{{ kibana_tarball_checksum }}",
  "install_dir": "{{ kibana_install_dir }}",
  "bind": "{{ kibana_bind }}",
  "port": "{{ kibana_port }}"
}
